.doctor-workshift-container{
    .doctor-workshift-content {
        margin: 0 auto;
        width: 1335px;
    }
    p{
        text-align: center;
        font-size: 28px;
        font-family: auto;
        color: gray;
    }
}