.dashboard_logo_right{
    background-image: url('../../../assets/logo5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
    width: 100%;
    position: relative;
    top: -150px;
}